# generated sass/css files
src/

postcss.config.js
tailwind.config.js
.editorconfig
.gitignore

# mac files
*.DS_Store

.sync

# IDEs
\.sublime-workspace
*.sublime-workspace
.vscode
.idea/
.idea
.tags*
